{{ define "main" }}
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<div id="header">

				{{ partial "logo.html" . }}
				{{ partial "nav.html" . }}

			</div>
		</div>

		<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				{{ if not ( isset (index .Site.Params .Section) "sidebar" ) }}
				{{ partial "post/content.html" . }}
				{{ else }}
				<div class="row">
					{{ if eq (index .Site.Params .Section "sidebar") "left" }}
					<div class="4u 12u(mobile)">
						{{ partial "post/sidebar" . }}
					</div>
					{{ end }}
					<div class="8u 12u(mobile)">

						{{ partial "post/content.html" . }}
					</div>
					{{ if eq (index .Site.Params .Section "sidebar") "right" }}
					<div class="4u 12u(mobile)">
						{{ partial "post/sidebar" . }}
					</div>
					{{ end }}
				</div>
				{{ end }}
			</div>
		</div>

		{{ partial "footer/index.html" . }}

	</div>

	{{ partial "scripts/index.html" . }}

{{ end }}