<!-- Nav -->
<nav id="nav">
    <ul>
        <li class="current"><a href="{{ .Site.BaseURL }}">Home</a></li>
        {{ $docItems := where .Site.Pages "Type" .Site.Params.Doc.foldername }}
        {{ if $docItems }}
        <li>
            <a href="{{ .Site.BaseURL }}#doc">{{ .Site.Params.Doc.title }}</a>
        </li>
        {{ end }}
        {{ $blogPosts := first 5 (where .Site.Pages "Type" .Site.Params.Blog.foldername) }}
        {{ if $blogPosts }}
        <li>
            <a href="{{ .Site.BaseURL }}{{ .Site.Params.Blog.foldername }}">{{ .Site.Params.Blog.title }}</a>
            <ul>
                {{ range $blogPosts }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </li>
        {{ end }}
        <li><a href="{{ .Site.BaseURL }}#contact">Contact</a></li>
    </ul>
</nav>